@font-face {
    font-family: Vazir;
    src: url("./assets/Vazir.ttf");
}

* {
    font-family: Vazir;
}

body {
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.header .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.header .actions {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.header h1 {
    color: #824CD6;
    font-size: 20px;
}

.log {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    overflow-y: scroll;
    background-color: #f1e8ff;
}

.input-group label {
    margin-right: 10px;
}

.input-group input {
    margin-bottom: 10px;
}

.reserve,
.release {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #824CD6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.log::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.log::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.log::-webkit-scrollbar-thumb {
    background-color: rgba(130, 76, 214, 0.5);
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    direction: rtl;
    border-radius: 10px;
}

.modal-content button {
    width: 100%;
    margin: 5px;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}